body {
  background-image: url("../NETFLIX/wallpaper-2.jpg");
  height: 1000px;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 0.7);
  background-blend-mode: darken;
}

.m-container {
  background-color: rgba(0, 0, 0, 0.61);
  display: block;
  align-items: center;
  justify-content: start;
  width: 460px;
  height: 575px;
  margin-left: 460px;
  margin-top: 0;
}

.contents {
  padding: 50px 80px;
}

.F-P {
  color: white;
}

.signin-p {
  font-family: Arial;
  font-size: 30px;
  color: white;
}

.input-box-1,
.input-box-2 {
  height: 50px;
  background-color:rgba(20, 20, 20, 0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 10px;
  width: 300px;
  margin-bottom: 20px;
  color: white;
  font-size: 17px;
}

.signin-btn,
.signin-code {
  margin-right: 20px;
  width: 318px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(224, 38, 38);
  font-weight: 700;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial;
}

.signin-code {
  background-color: rgba(148, 141, 141, 0.425);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 30px;
}

.left-section {
  margin-left: 100px;
}

.netflix-logo {
  background: transparent;
  height: 200px;
  width: 250px;
  font-size: 20px;
}

.or-w {
  color: rgb(160, 157, 157);
  font-size: 17px;
  margin-left: 150px;
  font-family: Arial;
}

.F-P {
  margin-left: 115px;
  color: rgb(196, 191, 191);
  text-decoration: none;
}

.F-P:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.bottom-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-box {
  background-color: rgba(15, 15, 15, 0.795);
}

.R-M {
  color: white;
  margin-left: 10px;
  font-family: Arial;
}

.N-T-N {
  color: rgb(196, 191, 191);
  font-family: Arial;
}

.signup-span {
  color: white;
  font-weight: bold;
}

.signup-span:hover {
  text-decoration: underline;
}

.last-pgh {
  color: rgb(145, 139, 139);
  font-family: Arial;
  font-size: 14px;
}

.L-more {
  color: rgb(33, 80, 180);
  cursor: pointer;
}

.L-more:hover{
  text-decoration: underline;
}

.bottom-prt {
  background-color: black;
  height: 500px;
  padding-left: 300px;
  padding-right: 300px;
}

.new-p {
  color: rgb(145, 139, 139);
}