.main-mid-container {
  background-color: black;
  padding-top: 20px;
  height: 2000px;
}

.mid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trending-now,
.p1 {
  color: white;
  font-size: 25px;
  margin-left: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.p1 {
  margin-top: 40px;
}

.trending-gallery {
  display: flex;
  overflow-x: hidden;
  width: 900px;
  padding: 20px;
  gap: 45px;
  scroll-behavior: smooth;
  margin-left: 10px;
}

.trending-gallery img {
  max-height: 250px;
  width: auto;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

.scroll-left {
  margin-left: 140px;
  background-color: #333;
  color: white;
  border: none;
  padding: 40px 8px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}

.scroll-right {
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 40px 8px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 20px;
}

.image {
  cursor: pointer;
}

.bottom-mid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 140px;
  margin-top: 20px;
}

.div-1,
.div-2,
.div-3,
.div-4 {
  background-color: rgba(60, 67, 128, 0.637);
  height: 300px;
  width: 240px;
  margin-left: 18px;
  border-radius: 20px;
}

.p2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
}

.p3 {
  color: rgb(145, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 10px 15px;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.FAQ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: #333;
  border: none;
  color: white;
  margin-bottom: 10px;
  width: 1045px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.FAQ:hover {
  background-color: #4e4e4e;
}

.faq1 {
  margin-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  font-family: Arial;
}

.footer-p {
  color: white;
  font-family: Arial;
  margin-left: 350px;
}

.input-btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  height: 100px;
  margin-left: 130px;
}

.input-box2 {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  width: 520px;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
}

.get-started-btn2 {
  background-color: red;
  padding: 18px 16px;
  width: 170px;
  border-style: solid;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.get-started-btn2:hover {
  background-color: rgb(180, 53, 53);
}

.get-started-btn2:active {
  background-color: rgb(160, 51, 51);
}
