body {
  background-image: url("../NETFLIX/KE-en-20240520-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  height: 1000px;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 0.7);
  background-blend-mode: darken;
}

.m-container {
  background-color: rgba(0, 0, 0, 0.61);
  display: block;
  align-items: center;
  justify-content: start;
  width: 400px;
  height: 500px;
  margin-left: 500px;
  margin-top: 100px;
}

.F-P {
  color: white;
}

.signin-p {
  font-family: Arial;
  font-size: 30px;
  color: white;
}

.input-box-1,
.input-box-2 {
  height: 50px;
  background-color:rgba(20, 20, 20, 0.7);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 10px;
  width: 300px;
  margin-bottom: 10px;
}

.signin-btn {
  margin-right: 20px;
  width: 318px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(224, 38, 38);
  font-weight: 700;
  color: white;
  cursor: pointer;
}